body{margin:0 auto; padding:0; font-size:12px; color:#333;background:#FFFFFF;}
div,form,img,ul,ol,li,dl,dt,dd,p{margin:0;padding:0px;border:0;}
li{list-style-type:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
a{outline-style:none;color:#333;text-decoration:none}
a:hover{color:#000;}
i,em{font-style:normal;}
img{border:0;}
.home_title_head {display: flex;justify-content: center;align-items: center;flex-direction: column;margin-top: 58px;}
.home_title_head div:nth-child(1) {
  position: relative;
  height: 41px;
  margin: auto;
  text-align: center;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.5;
}

.home_title_head div:nth-child(2) {
  position: relative;
  height: 41px;
  margin: 3px auto;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.home_title_head div:nth-child(3) {
  position: relative;
  margin: 10px auto;
  width: 96px;
  height: 5px;
  background: #ffffff;
}
.card_list_box {
  display: flex;
  justify-content: center;
  max-width: 1980px;
  margin: 100px auto 0 auto;
  height: 550px;
}
.card_list {
  width: 1340px;
}
.card_list li{
  position: relative;
  float: left;
  margin-left: 50px;
  margin-bottom: 23px;
  width: 380px;
  height: 506px;
}
.card_list li:hover .card_list_bottom p:nth-child(4){background: url('@/assets/images/back_right_blue.png') no-repeat}
.card_list_bottom{
  float: left;
  width: 380px;
  height: 205px;
  background: rgba(33, 33, 34, 1);
}
.card_list_bottom p {
  padding-left: 40px;
}
.card_list_bottom p:nth-child(1){
  margin-top: 21px;
  width: 380px;
  height: 37px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
}
.card_list_bottom p:nth-child(2){
  margin-top: 21px;
  width: 380px;
  height: 31px;
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}
.card_list_bottom p:nth-child(2) span{
  margin-right: 14px;
}
.card_list_bottom p:nth-child(3){
  margin-top: 12px;
  width: 380px;
  height: 26px;
}
.card_list_bottom p:nth-child(3) span{
  display: inline-block;
  margin-right: 14px;
  width: auto;
  min-width: 53px;
  padding: 0 20px;
  height: 26px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
}
.card_list_bottom p:nth-child(4){
  margin-top: 12px;
  margin-left: 40px;
  width: 60px;
  height: 20px;
  cursor: pointer;
  background: url('@/assets/images/back_right.png') no-repeat;
}
.card_list_top {
  float: left;
  position: relative;
  width: 380px;
  height: 300px;
}
.card_list_top:hover div {
  display: flex;
}
.card_list_top img{
  position: absolute;
  width: 380px;
  height: 300px;
}
.card_list_top div {
  align-items: center;justify-content: center;flex-direction: column;cursor: pointer;
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  height: 100%;;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}
.card_list_top div p:nth-child(1) {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
  width: 270px;
}
.card_list_top div p:nth-child(2){
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  width: 270px;
}
.head_box {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
}
.menu_title{
  position: absolute;
  height: 20.43px;
  left: 58px;
  top: 40px;
  cursor: pointer;
}
.menu_title p{
  font-family: 'Bookman Old Style';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 103.97%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.head_box.white_btn {background: rgba(255, 255, 255, 0.1)}
.head_box.black_btn {background: #FFFFFF;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);}
.head_box.blue_btn {background: rgba(255, 255, 255, 0.3);}

.head_box.white_btn .menu_title p {color: rgba(255, 255, 255, 0.9)}
.head_box.black_btn .menu_title p {color: rgba(0, 0, 0, 0.9)}
.head_box.blue_btn .menu_title p {color: rgba(0, 0, 0, 0.9)}

.head_box.white_btn .menu_list ul li p {color: #FFFFFF;}

.head_box.fixwhite_btn {background: #FFFFFF;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);}
.head_box.fixwhite_btn .menu_title p{color: rgba(0, 0, 0, 0.9)}
.head_box.fixwhite_btn .menu_list ul li p{color: #000000;}
/* .menu_button {
  position: absolute;
  width: 21px;
  height: 20.43px;
  left: 58px;
  top: 40px;
  cursor: pointer;
}
.head_box.white_btn .menu_button {background: url(@/assets/images/menu_button_white.png) no-repeat;}
.head_box.white_btn .menu_list ul li p {color: #FFFFFF;}
.head_box.black_btn .menu_button {background: url(@/assets/images/menu_button_black.png) no-repeat;}
.head_box.blue_btn .menu_button {background: url(@/assets/images/menu_button_black.png) no-repeat;}
.menu_text {
  position: absolute;
  width: 92px;
  height: 38px;
  left: 93px;
  top: 40px;
}
.head_box.white_btn .menu_text {background: url(@/assets/images/menu_white.png) no-repeat;}
.head_box.black_btn .menu_text {background: url(@/assets/images/menu_black.png) no-repeat;}
.head_box.blue_btn .menu_text {background: url(@/assets/images/menu_black.png) no-repeat;}
.menu_name {
  position: absolute;
  width: 84px;
  height: 38px;
  right: 20px;
  top: 34px;
}
.head_box.white_btn .menu_name {background: url(@/assets/images/liluyun_white.png) no-repeat;}
.head_box.black_btn .menu_name {background: url(@/assets/images/liluyun_black.png) no-repeat;} */
.menu_list ul {display: flex;justify-content: center;align-items: center;}
.menu_list ul li {height: 100px;display: flex;justify-content: center;align-items: center;margin: 0 20px;}
.menu_list ul li p{
  font-family: 'PingFang SC';
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  opacity: 0.8;
  cursor: pointer;
}
.menu_list ul p.cur {border-bottom: 2px solid #0057FF;}
.back_foot{width: 100%;height: 120px;display: flex;justify-content: center;align-items: center;}
.back_left{width: 50%;height: 120px;background-color: #FFFFFF;display: flex;justify-content: center;align-items: center;cursor: pointer;}
.back_left em{height:15px;width:60px;background: url(@/assets/images/back_left.png) no-repeat;margin-right: 20px;}
.back_left p{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #000000;
}
.back_right{width: 50%;height: 120px;background-color: #0057FF;display: flex;justify-content: center;align-items: center;cursor: pointer;}
.back_right em{height:15px;width:60px;background: url(@/assets/images/back_right.png) no-repeat;margin-left: 20px;}
.back_right p{
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #D5E8FF;
}
.nav_box {
  position: fixed;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
}

.nav_list li{
  height: 60px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav_list .cur {
  background: rgba(209, 209, 209, 1);
}
.nav_top {height: 60px;width: 90px;background: url(@/assets/images/nav_top.png) no-repeat;cursor: pointer;}
.nav_bottom {height: 60px;width: 90px;background: url(@/assets/images/nav_bottom.png) no-repeat;cursor: pointer;}
.anchor p{position: absolute;}
/* .anchor p{position: absolute;height: 100px;width: 100vh;background-color: yellow;left: 0;top: 100px;} */